.analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 100vh;
    /* background: linear-gradient(to bottom, #F3CBAA, #4F5B33); */

}