body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 0 20px; 
}

/* HEADER */
.header {
  position: relative; 
  z-index: 1; 
  background-color: #262626;
  color: white;
  padding: 25px;
}

.image {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  float: left;
}

.home-header {
  flex-grow: 1;
}

.home-heading {
  color: #fd0050;
  font-size: 24px;
  margin: 0;
  text-decoration-thickness: 3px;
  font-family: 'Times New Roman', Times, serif;
}

/* ABOUT SECTION */
.home-heading-2 {
  text-align: left;
  color: #000;
  margin-top: -15%;
  margin-left: -10%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 45px;
}

.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.container p {
  color: #000000; 
  font-size: 25px; 
  line-height: 1.5; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 30%;
  margin-right: -10%;
  font-family: 'Times New Roman', Times, serif;
}

.phone-image {
  width: 150%; 
  height: auto; 
  border-radius: 8px; 
  margin-bottom: -30px; 
  margin-left: -20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SERVICES */
#services {
  background-color: #212121;
  color: white;
  padding: 40px 0;
  margin-top: -10px;
}

#services h1 {
  color: #ff004f;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list div {
  flex-basis: calc(33.33% - 20px);
  margin: 0 10px 20px;
  padding: 100px;
  background-color: #333;
  border-radius: 5px;
  margin-top: -29%;
}

.i {
  color: #ff004f;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

.services-list div h2 {
  color: #ff004f;
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Times New Roman', Times, serif;
}

.services-list div li {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/* CONTACTS */
#contacts {
  background-color: #f5f5f5;
  color: #333;
  padding: 40px 0;
  margin-top: -20%;
}

.contact-left {
  margin-left: 20px;
}

.contact-left h1 {
  color: #ff004f;
  margin: 0 0 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

.contact-left p {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  color: #ababab;
  margin-right: 10px;
}

.social-icon:hover {
  color: #ff004f;
}
