/* Login.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -18%;
  margin-bottom: 0%;
  width: 400px;
}

.heading-login {
  text-align: center;
  margin-bottom: 20px;
  color: #ff0000;
}

.form label {
  font-weight: bold;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  font-size: 0.8rem;
}

.lg-btn {
  width: 100%;
}

.link {
  color: #007bff;
}

.link:hover {
  text-decoration: none;
  color: #0056b3;
}