.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.header-icon {
  display: flex;
  align-items: center;
}

.nav-img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  float: left;
}

.nav-header {
  font-size: 1.5rem;
  margin-top: 3%;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  padding: 10px 20px;
  background-color: #ee0996;
  text-align: center;
  text-decoration: solid;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
}

.nav-item a:hover {
  background-color: #ff0000;
}

.nav-item-btn{
  border: none;
  background-color: #ee0996;
}
