.navbar {
  background-color: #ffffff00;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Ensure items are flex items */
}

.nav-item {
  margin-left: 10px; /* Add margin between buttons */
}

.nav-item:first-child {
  margin-left: 0; /* Remove margin from first button */
}

.nav-item a {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

.nav-item a:hover {
  background-color: #e83fbd;
}
