.nav-items{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-top: 12px;
 
}
.nav-img{
  height: 70px;
}

.header-icon{
  display: flex;
  margin-top: 20px;
  justify-content: center;;
  align-items: center;
}
.navbar {
    
    color: #f20404;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-around; 
  
  }
  
  .nav-item {
    margin: 0;
    margin-right: 40px;
  }
  

  .nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px; 
  }
  
  .nav-item a:hover {
    background:#ff004f; 
    transition: 0.5s;
  }
  
 