.transaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%; /* Set a fixed width */
    max-width: 700px; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: -7%;
}

h2, h1, .card {
    text-align: center;
}

.card {
    background-color: #232222b8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%; /* Take full width of the container */
    margin-bottom: 20px;
}

.card h3 {
    color: #ff004f;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card label {
    margin-bottom: 5px;
}

.card input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 1%;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-left: 1px;
}

.button {
    background-color: #ff004f;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: red;
    transition: 0.5s;
}

.favorites-list {
    color: #ff0000;
}

.favorites-list ul {
    list-style-type: none;
    padding: 0;
}

.favorites-list li {
    margin-bottom: 50px;
}
