/* TransactionPage styling */
.transaction-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

h2 {
    margin-bottom: 20px; /* Adjust margin bottom */
}

h1 {
    margin-top: 0;
    color: #ff004f; /* Set color */
}

.card {
    background-color: #474545b8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px; /* Set width */
    max-width: 90%; /* Set maximum width */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.card form {
    display: flex;
    flex-direction: column; /* Align form elements vertically */
    gap: 10px; /* Add gap between form elements */
}

.card form label {
    margin-bottom: 5px;
    color: white; /* Set color */
}

.card form input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    outline: 1px solid white; /* Set white outline */
}

.card .form-buttons {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
    margin-right: auto;
}

.card .form-buttons .button {
    background-color: #ff004f;
    width: 100px;
    height: 25px;
    border-radius: 20px; /* Make buttons rounded */
    border: none;
    color: black; /* Set text color to black */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .form-buttons .button:hover {
    background-color: red; /* Change button background color on hover to red */
    color: black;
    transition: 0.5s;
}

.link {
    color: #ff004f;
}
