.unauthorized {
    height: 100vh;
    display: flex;
    flex-direction: column;
 
    margin: auto;
    color: red;
    margin-top: 50px;

}

.unauthorized p {
    margin: 0 auto;
    color: blue;
}

